@import 'mixins.scss';
@import 'variables.scss';

body{
    height: 100vh;
    width: 100vw;
    background-color: $backgraundColor;
    font-family: $rubik;
    @include flexColumn;
    overflow: auto;
}

.container{
    @include flexColumn;
    height: 80%;
    width: 80%;
    justify-content: space-between;

    &--header{
        height: 15%;
        width: 100%;
        @include flex;
        justify-content: flex-start;
        border-bottom: 20px solid $borderColor;
        border-radius: 10px;
        
        &--title{
            color: $borderColor;
            font-size: calculadora-rem(70);
            margin-right: 500px;
        }

        &--about-wrapper{
            display: none;
        }

        &--story{
            color: $borderColor;
            font-size: calculadora-rem(30);
            position: relative;
            cursor: pointer;

            &:hover {
                .container--header--about-wrapper{
                    @include flexColumn;
                    height: 400px;
                    width: 600px;
                    position: absolute;
                    transform: translateY(38px) translateX(-190px);
                    color: $textColor;
                    font-size: calculadora-rem(22);
                    border-top: 20px solid $borderColor;
                    border-radius: 0 30px 30px 30px;
                    box-sizing: border-box;
                    padding: 20px 20px;
                    background-color: $backgraundColorOpacity;
                    line-height: 30px;
    
                    &--source{
                        color: $borderColor;
                        font-weight: 600;
                    }
                }
                
            }
        }
    }

    &--main{
        height: 80%;
        width: 100%;
        @include flexColumn;
        color: $textColor;
        font-size: calculadora-rem(40);

        &--input-wrapper{
            @include flexColumn;
            margin-bottom: 50px;

            &--label{
                margin-bottom: 10px;
            }

            &--input{
                height: 50px;
                width: 500px;
                box-sizing: border-box;
                padding-left: 20px;
                font-size: calculadora-rem(20);
                border: 1px solid $borderColor;
                border-radius: 10px;
                color: $borderColor;
                outline: none;

                &::placeholder{
                    color: $borderColor;
                }

                &:focus{
                    box-shadow: 0 0 30px $shadowColor;
                }
            }
        }

        &--result{
            border-bottom: 1px solid $borderColor;
            margin-bottom: 100px;
            height: 35px;
        }

        &--button-wrapper{
            @include flex;

            &--button-all{
                height: 70px;
                width: 250px;
                margin: 0 80px;
                font-size: calculadora-rem(30);
                color: $borderColor;
                background-color: $buttonColor;
                border: 1px solid $borderColor;
                border-radius: 35px;
                cursor: pointer;

                &:hover{
                    background-color: transparent;
                    box-shadow: 0 0 30px $shadowColor;
                    
                }
            }
        }
    }
}

@media (max-width: 1366px){
    .container{
        &--header{
            border-bottom: 15px solid $borderColor;
            border-radius: 8px;

            &--title{
                font-size: calculadora-rem(50);
                margin-right: 300px;
            }

            &--story{
                font-size: calculadora-rem(20);

                &:hover{
                    .container--header--about-wrapper{
                        height: 250px;
                        width: 400px;
                        transform: translateY(28px) translateX(-150px);
                        font-size: calculadora-rem(15);
                        border-top: 15px solid $borderColor;
                        border-radius: 0 30px 30px 30px;
                        padding: 10;
                        line-height: 20px;
                    }
                    
                }
            }
        }

        &--main{
            font-size: calculadora-rem(30);

            &--input-wrapper{
                margin-bottom: 40px;

                &--input{
                    height: 40px;
                    width: 400px;
                    font-size: calculadora-rem(18);
                    border-radius: 7px;
    
                    &:focus{
                        box-shadow: 0 0 20px $shadowColor;
                    }
                }
            }

            &--result{
                margin-bottom: 60px;
                height: 27px;
            }
    
            &--button-wrapper{
    
                &--button-all{
                    height: 50px;
                    width: 150px;
                    margin: 0 50px;
                    font-size: calculadora-rem(15);
                    border-radius: 20px;
    
                    &:hover{
                        box-shadow: 0 0 20px $shadowColor;
                    }
                }
            }
        }

    }
}

@media(max-width: 375px){
    .container{

        &--header{
            border-bottom: 10px solid $borderColor;
            border-radius: 5px;

            &--title{
                font-size: calculadora-rem(30);
                margin-right: 30px;
            }

            &--story{
                font-size: calculadora-rem(15);
                white-space: nowrap;

                &:hover{
                    .container--header--about-wrapper{
                        height: 300px;
                        width: 305px;
                        transform: translateY(33px) translateX(-239px);
                        font-size: calculadora-rem(15);
                        border-top: 10px solid $borderColor;
                        border-radius: 0 0 30px 30px;
                        padding: 20;
                        // line-height: px;
                        white-space: normal;
                    }
                    
                }
            }
        }

        &--main{
            font-size: calculadora-rem(20);

            &--input-wrapper{

                &--input{
                    height: 35px;
                    width: 300px;
                    font-size: calculadora-rem(15);
                }
            }
    
            &--button-wrapper{
    
                &--button-all{
                    height: 40px;
                    width: 100px;
                    margin: 0 50px;
                    font-size: calculadora-rem(15);
                    border-radius: 18px;
                }
            }
        }

    }
}