$rubik: 'Rubik', sans-serif;

$backgraundColor: #907BA6;
$borderColor: #160B26;
$shadowColor: #160B2680;
$textColor: #261340;
$buttonColor: #7E56A6;
$backgraundColorOpacity: #7E56A6E6;
$placeholderColor: #69468C;